{% extends "base.html" %}

  {% block heading %}
    <div class="tet-center">
      <h1>Create Post</h1>
    </div>
  {% endblock heading %}

  {% block content %}
    <div class="text-center"> 
      <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form | crispy }}
            <button class=" my-2 btn btn-primary btn-lg"><i class="fas fa-blog fa-2x"></i></a></button>
        </form>
      </div>
    </div>
{% endblock content %}